[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
nexradaws = "*"
matplotlib = "*"
metpy = "*"
geos = "*"
shapely = "*"
pyshp = "*"
proj = "*"
osgeo4w-installer = "*"

[dev-packages]

[requires]
python_version = "3.9"
